extends ../layout

block content
	h1= title
	form(method='post')
		- //, action='/users/'+'#{user._id}'
		input(name="_method",value="put", type="hidden")

		input(name='firstName', class='input-block-level', placeholder='firstName', value='#{user.firstName}')
		input(name='lastName', class='input-block-level', placeholder='lastName', value='#{user.lastName}')
		input(name='email', class='input-block-level', placeholder='email', value='#{user.email}')
		input(name='username', class='input-block-level', placeholder='username', value='#{user.username}')
		input(type='submit', class='btn btn-primary', value='Update')